.container-nav{
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    height: 5rem;
    align-items: center;
    background-color: rgb(104, 121, 255);
    /* width: 100%; */
}

.container-nav button {  
        position: relative;
        border-radius: 1rem;
        width: 150px;
        height: 60px;
        margin: 20px;
        line-height: 60px;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: var(--color-white);
        transition: var(--speed-normal);
        border: 1px solid var(--color-red);
        
}

.container-nav button:hover {
    border: 1px solid transparent;
          background: var(--color-red) url(https://i.postimg.cc/wBXGXbWN/pixel.png);
          transition-delay: 0.8s;
          background-size: 180px;
          animation: animate var(--speed-fast) steps(8) forwards;
}

@keyframes animate {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: -480px;
    }
  }